<app-header></app-header>

    <section class="videos-hero-section">
        <p class="hero-text">
            Dive into the world of Fractal through our curated videos showcasing epic gameplay, community events, and highlights from our members.
            <br><br> 
            Whether you're a seasoned player or new to APB: Reloaded, our videos offer a glimpse into the excitement and camaraderie that define Fractal.
            <br><br>
            Join us as we celebrate our journey, share tips and tricks, and highlight the best moments from our community.
        </p>
        <img src="/fractal_logo.png" alt="FRACTAL" class="hero-logo">
    </section>

<app-footer></app-footer>        