.top {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 1px 30px;
}
.fractal-logo {
    margin-top: 20px; 
}

.fractal-logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.btns {
    display: flex;
    gap: 60px;
}

.nav-btn, .login{
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.nav-btn:hover, .login:hover {
    color:#0871F9 ;
    transition: all 0.3s ease;
    transform: translateY(-2px);
    font-size: x-large;
}

.login{
    background: linear-gradient(to right, #002BFF , #FF00BF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-decoration: none;
}