<div class="footer-secion">
    <p style="text-align: center;">Contact</p>
    <div class="social-section">
        <a class="social" href="https://discord.gg/fractal" target="_blank">
                <img src="/discord.png" alt="discord" class="icon">
                <p class="social-text">FRACTAL DISCORD</p>
        </a>

        <a class="social" href="https://steamcommunity.com/groups/fractaI" target="_blank">
                <img src="/steam.png" alt="steam" class="icon">
                <p class="social-text">STEAM GROUP</p>
        </a>
    </div>

    <div class="contact-section">
        <div></div>
        <div class="trademark-footer">
            <img src="/fractal_logo.png" alt="fractal_logo" class="icon-logo">
            <p class="footer-text">FRACTAL ©  2017-2025 </p>
        </div>

        <div class="mention">
            <p class="footer-text">website designed and developed by Zipen, Hosted by Nev.</p>
        </div>
    </div>

</div>
<!-- Footer Component: Contains contact information and social media links -->